<ion-view title="{{meetup.group.name}}">
  <ion-content class="has-header meetup" padding="true">
    <img class="full-image" ng-src="{{group.group_photo.photo_link}}">
    <h3><a ng-href="{{meetup.event_url}}" target="_blank">{{meetup.name}}</a></h3>
    <h4>{{meetup.time|date:"dd.MM.yyyy"}}</h4>
    <div class="res">
      <div class="pos" ng-if="meetup">
        <i class="icon ion-thumbsup"></i>
        {{meetup.yes_rsvp_count}}
      </div>
    </div>
    <div class="desc" ng-bind-html="meetup.description"></div>
    <ui-gmap-google-map ng-if="meetup.loc.latitude" center="meetup.loc" zoom="meetup.zoom">
      <ui-gmap-marker coords="meetup.loc" idkey="meetup.id"></ui-gmap-marker>
    </ui-gmap-google-map>
  </ion-content>
</ion-view>
